
    #navigation {
        margin-top: 6px;
        margin-bottom: 6px;
        background : #FA8072;
        color : #FFF8DC;
        padding: 1em;
        text-align: center;
        background-color: #333;
    }